#product-container h1 {
    width: 80%;
    margin-top: 10px;
    color: #daa520;
    /*background: #ffa9a9;*/
    text-shadow: 2px 2px #303030;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 5px;
}

.product-list {
    max-width: 400px;
    margin: 20px auto 0;
    padding: 0 20px;
    list-style: none;
    float: none;
}

.product-list li {
    background: #b8860b;
    border: 1px solid #8b4513;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.product-list li p {
    font-size: 16px;
    color: #fff;
    margin-top: 5px;
    line-height: 24px;
}

.product-list strong {
    font-size: 16px;
    color: #fff;
    margin-top: 5px;
    line-height: 24px;
}

#menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    height: 40px;
    background-color: #b8860b;
}

#menu a {
    /*padding: 5px;*/
    height: 100%;
    width: auto;
    float: left;
    text-align: center;
    text-decoration: none;
    color: #daa520;
}

#menu a:hover {
    background-color:#daa520;
    color: #000;
    border-bottom: solid 1px #000;
}

#iconLog{
    color: #202020;
    align-items: center;
    vertical-align: bottom;
}

#titulo1{
    background-color: #756c54;
    font-size: 50px;
    font-weight: bolder;
    color: #daa520;
    text-shadow: 2px 2px #303030;
    border: solid 2px #000;
}

#meio{
    margin-top: 2%;
    width: 100%;
}

table{
    width: 80%;
    margin: auto;
}

#descricao{
    background-color: #daa520;
    font-size: 20px;
    color: #fff;
    margin-top: 5px;
    line-height: 24px;
}

#meio img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 340px;
    height: 200px;
    border: solid 5px #756c54;
    border-radius: 5px;
}

body{
    background-image: url('../../imagens/fundoGeral.jpg');/*Aqui você coloca o link da sua imagem*/
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

#rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    
	/*position: relative;*/
	bottom: 0;
}











/*.imgFundo {
    resizeMode: "cover";
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    opacity: 0.1;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}*/