header#main-header{
    width: 80%;
    height: 240px;
    background: #daa520;
    font-size: 65px;
    font-weight: bolder;
    color: rgb(255, 0, 0);
    text-shadow: 2px 2px #303030;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../imagens/headerImg.jpg');/*Aqui você coloca o link da sua imagem*/
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
}